In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('D:/매쉬업결과_공공데이터포털 (2)/제주특별자치도_주제4매쉬업결과_20201215.csv', encoding= 'euc_kr')

In [20]:
data1 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2020-08.xlsx')
data2 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2020-09.xlsx')
data3 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2020-10.xlsx')
data4 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2020-11.xlsx')
data5 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2020-12.xlsx')
data6 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2021-01.xlsx')
data7 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2021-02.xlsx')
data8 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2021-03.xlsx')
data9 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2021-04.xlsx')
data10 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2020-05.xlsx')
data11 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2020-06.xlsx')
data12 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2020-07.xlsx')
data13 = pd.read_excel('D:/매쉬업결과_공공데이터포털 (2)/매쉬업/주제4매쉬업_2021-05.xlsx')

In [41]:
sort_data.shape

(536210, 7)

In [22]:
re = pd.concat([data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13])

In [24]:
re.tail()

               일자   시도명 읍면동명     국적  방문인구  서비스 사용시간     데이터기준일자
13325  2021-05-31  서귀포시  중앙동     타이   0.0         0  2021-07-26
13326  2021-05-31  서귀포시  중앙동  말레이시아   0.0         0  2021-07-26
13327  2021-05-31  서귀포시  중앙동   싱가포르   0.0         0  2021-07-26
13328  2021-05-31  서귀포시  중앙동     일본   0.0         0  2021-07-26
13329  2021-05-31  서귀포시  중앙동    베트남   0.0         0  2021-07-26

In [25]:
re.to_csv('sum.csv',encoding = 'utf-8-sig', index = False)

In [26]:
add_data = pd.read_csv('D:/매쉬업결과_공공데이터포털 (2)/sum.csv')

In [27]:
final = pd.concat([data, add_data])

In [29]:
final.tail()

                일자   시도명 읍면동명     국적  방문인구  서비스 사용시간     데이터기준일자
170275  2021-05-31  서귀포시  중앙동     타이   0.0         0  2021-07-26
170276  2021-05-31  서귀포시  중앙동  말레이시아   0.0         0  2021-07-26
170277  2021-05-31  서귀포시  중앙동   싱가포르   0.0         0  2021-07-26
170278  2021-05-31  서귀포시  중앙동     일본   0.0         0  2021-07-26
170279  2021-05-31  서귀포시  중앙동    베트남   0.0         0  2021-07-26

In [30]:
final.to_csv('final.csv',encoding = 'utf-8-sig', index = False)

In [32]:
yet = pd.read_csv('D:/매쉬업결과_공공데이터포털 (2)/final.csv')

In [33]:
sort_data = final.sort_values(by=['일자'])

In [34]:
sort_data.to_csv('./sort_data.csv', encoding = 'utf-8-sig', index = False)

In [49]:
d_18 = sort_data[sort_data['일자'].str.contains('2018')]

In [50]:
d_19 = sort_data[sort_data['일자'].str.contains('2019')]

In [51]:
d_20 = sort_data[sort_data['일자'].str.contains('2020')]

In [52]:
d_21 = sort_data[sort_data['일자'].str.contains('2021')]

In [53]:
d_18.to_csv('data_18.csv',encoding = 'utf-8-sig', index = False)

In [54]:
d_19.to_csv('data_19.csv',encoding = 'utf-8-sig', index = False)

In [55]:
d_20.to_csv('data_20.csv',encoding = 'utf-8-sig', index = False)

In [56]:
d_21.to_csv('data_21.csv',encoding = 'utf-8-sig', index = False)